.footer {
  background-color: var(--mantine-color-gray-0);
}

.inner {

  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
  margin-top: var(--mantine-spacing-sm);
}
